body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}

/*header styles*/

.header{
    display: flex;
    background-color: #2C3639;
    height: 8vh;   
    justify-content: space-between;
    
}

.search_background{
    display: flex;
    align-items: center;
    background-color: #EEE9DA;
    width: 300px;
    height: 33%;
    padding: 5px;
    border-radius: 5px;
    border-width: 2px; 
    border-style: solid;
}

.header_text_background{
    display: flex;
    align-items: center;
    background-color: #EEE9DA;
    width: auto;
    height: 15px;
    padding: 5px;
    border-radius: 5px;
    border-width: 2px; 
    border-style: solid;
}

.header_left_side{
    display: flex;
    align-items: center;
    height: 100%;
    width: 60%;
    justify-content: space-between;
    margin-left: 1%;
}
.header_right_side{
    display: flex;
    align-items: center;
    height: 100%;
    width: 25%;
    flex-direction: row-reverse;
    margin-right: 1%;
    
}

/*dropdown menu styles*/

.dropdown {
  position: relative;
  display: inline-block;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #EEE9DA;
  min-width: 160px;
  right: 0;
  color: black;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;

}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  background-color: #EEE9DA;
  display: block;
}



.dropdown:hover .dropdown-content {display: block;}





/* link styles */

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: black;
    background-color: transparent;
  }
  
  a:active {
    color: black;
    background-color: transparent;
   
  }


/* parallax effext */
  .parallax_main_page{
    /* The image used */
    background-image: url("pics/major.jpg");
  
    /* Set a specific height */
    min-height: 1000px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    color: white;
    align-items: flex-end;
    

  }


  /* main page styles */
  .main_page_body{
    display: flex;
    justify-content: center;
    padding-top: 3%;
    width: 100%;
    height: 100vh;
    background-color: #2C3639;
    flex-wrap: wrap;
  }

  .main_page_records_holder{
   
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: 1400px;
    background-color: #2C3639;
  }

  .record_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height:30%;
    background-color: #EEE9DA;
    border-radius: 20px;
    border-width: 2px; 
    border-style: solid;
    padding : 5px;
  }



  .record_box_text{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

  }


 @media screen and (max-width: 860px) {
    
    .main_page_records_holder{
        flex-direction: row;
      
        justify-content: space-around;
        padding-top: 5%;
        height: 3000px;
    }


    .record_box{
        display: flex;
        width: 50%;
        padding-left: 3%;
        height: 360px;
        justify-content: center;
        
    }

    .record_box_text{
      display: flex;  
      font-size: 10px;
        justify-content: center;
    }
  
 }

  @media screen and (max-width: 500px) {
      
    p{
        font-size: 10px;
    }
    
    
    }


    /* footer styles */
    .footer{
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 10vh;
        background-color: #2C3639;
        align-items: center;
    }


    /* About us page styles */

    .about_us_body{
        display: flex;
        width: 100%;
        height: 100vh;
        background-color: #2C3639;
        justify-content: space-between;
      
    }


  .map{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 33%;
    flex-direction: column;
    align-items: center;
  }

  .info{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 66%;
    flex-direction: column;
    align-items: center;
  
  }


/* community page styles */

.body_com{
  display: flex;
  height: 93vh;
  background-color: #2C3639;
  flex-wrap: wrap;
  padding-top: 3%;
  justify-content: space-around;
}

.com_header{
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* upload page styles */

.upload_body{
  display: flex;
  width: 100%;
  height: 95vh;
  background-color: #2C3639;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.photos-list ul,
.videos-list ul {
  margin: 0px;
  padding: 0px;
}

.photos-list ul li,
.videos-list ul li {
  list-style: none;
  float: left;
  width: 19%;
  margin: 5px;
  position: relative;
}

.photos-list ul li img,
.videos-list ul li img {
  width: 100%;
  border-radius: 10px;
  height: 110px;
}

.photos-list ul li span,
.videos-list ul li span {
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, .5);
  padding: 5px 10px;
  cursor: pointer;
}

.photos-list ul li span svg,
.videos-list ul li span svg {
  color: #fff;
}